* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#layout {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Change flex-direction to column */
}

.card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.feature-img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    display: block;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.dark-theme-control .react-daqctl-light {
    background-color: #333;
}

.dark-theme-control .react-daqctl-dark {
    background-color: #007bff;
}

.dark-theme-control .react-daqctl-handle {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.dark-theme-control .react-daqctl-light,
.dark-theme-control .react-daqctl-dark {
    box-shadow: none;
}
