/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* Main layout container */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 20px;
}

/* Left panel for user information */
.left-panel {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    background-color: #333; /* Darker panel background color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* Lighter shadow */
    border-radius: 10px;
    margin-right: 20px;
}

/* Right content area */
.right-content {
    flex: 3;
    display: flex;
    flex-direction: column;
}

/* Configuration for gauge and control columns */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex-basis: calc(30% - 20px);
    background-color: #333; /* Darker column background color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-right: 20px; /* Add margin between columns */
}

/* Styling for images */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive design adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-panel,
    .right-content {
        width: 100%;
        margin: 10px 0;
    }

    .column {
        flex-basis: calc(50% - 20px);
    }
}
